<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
		<table>
			<thead>
				<tr>
					<th>리스트Id</th>
					<th>제목</th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="lists : ${lists}">
					<td th:text="${lists.id}" ></td>
					<td th:text="${lists.title}"></td>
					<td><a href="#"
					th:href="'javascript:input('+${lists.id}+')'">노래넣기</a></td>
				</tr>
			</tbody>


		</table>

</body>
<script th:inline="javascript">
/*<![CDATA[*/
	function input(plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/inputsong");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plId");
        hiddenField.setAttribute("value", plId);
        form.appendChild(hiddenField);
        var hiddenField2 = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "title");
        hiddenField.setAttribute("value", /*[[${title}]]*/);
        form.appendChild(hiddenField2);
        var hiddenField3 = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "singer");
        hiddenField.setAttribute("value", /*[[${singer}]]*/);
        form.appendChild(hiddenField3);
		
		document.body.appendChild(form);
		form.submit();
	}
/*]]>*/
</script>

</html>