<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>아이디</th>
				<th>제목</th>
				<th>아티스트</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="song : ${songs}">
				<td th:text="${song.id}"></td>
				<td th:text="${song.songTitle}"></td>
				<td th:text="${song.singer}"></td>
				<td th:text="${song.playList.id}"></td>
				<td><a href="#" th:href="'javascript:remove('+${song.id}+','+${song.playList.id}+')'">삭제</a></td>
				
				
			</tr>
		</tbody>
		
		
	</table>

</body>
<script>
	function remove(plSongId,plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/playlist/"+ plId +"/song");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plSongId");
        hiddenField.setAttribute("value", plSongId);
        form.appendChild(hiddenField);
		
		document.body.appendChild(form);
		form.submit();
	}
</script>
</html>